{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>

  <section>
    <div class="form">
      <h1 class="form_title">Редагування товару</h1>
      <form method="POST" action="/product-edit">
        <div class="form_content">
          {{#with data}}
          <div class="card col-6">
            <h2 class="card-title">Інформація про товар</h2>
            <div class="card-body col-12">
              <div class="form_field col-4">
                <label for="name" class="form_label">Назва товару</label>
                <input type="name" class="form_input" name="name" value='{{name}}'>
              </div>
              <div class="form_field col-4">
                <label for="price" class="form_label">Ціна товару</label>
                <input type="price" class="form_input" name="price" value='{{price}}'>
              </div>
              <div class="form_field col-4">
                <label for="id" class="form_label">ID</label>
                <input type="id" class="form_input" name="id" value='{{id}}'>
              </div>
            </div>
            <div class="form_field_description">
              <label for="description" class="form_label">Опис товару</label>
              <input type="description" class="form_input" name="description" value='{{description}}'>
            </div>
            <div class="links col-12">
              <button class="form_button btn btn-primary col-6">Зберегти оновлення</button>
              <a href="/product-delete?id={{id}}" class="btn btn-danger col-6">Видалити товар</a>

            </div>

          </div>
          {{/with}}
        </div>
      </form>
    </div>
  </section>

</main>











{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}