<div class="card">
    <div class="card-body-info">
        <div class="card-title-info">{{name}}</div>
        <div class="card-discription">{{description}}</div>
        <div class="card-id">{{id}} </div>
        <div class="card-info">
            <div class="card-price">{{price}} $</div>
            <a class="card-edit" href="/product-edit?id={{id}}">Редагувати</a>
        </div>
    </div>
</div>